## Import necessary libraries

In [2]:
import numpy as np
import pandas as pd
# import psycopg2
import sqlalchemy
import pickle
from io import StringIO
import csv
from pandas import DataFrame

In [3]:
# https://docs.sqlalchemy.org/en/20/changelog/migration_12.html#change-4109
POSTGRES_URL="postgresql+psycopg2://default:B8UtMqlpkIF7@ep-fancy-wildflower-68999121-pooler.eu-central-1.postgres.vercel-storage.com:5432/verceldb"
engine = sqlalchemy.create_engine(
    POSTGRES_URL,
    executemany_mode='values_plus_batch',
)

In [4]:
def psql_insert_copy(table, conn, keys, data_iter):
    """
    Execute SQL statement inserting data

    Parameters
    ----------
    table : pandas.io.sql.SQLTable
    conn : sqlalchemy.engine.Engine or sqlalchemy.engine.Connection
    keys : list of str
        Column names
    data_iter : Iterable that iterates the values to be inserted
    """
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

#df.to_sql(
#    name="dest",
#    con=engine,
#    if_exists="append",
#    index=False,
#    method=psql_insert_copy
#)

## Uploading retrieved songs

In [5]:
recommender_systems = {  
                       'mfcc_bow': {'kind':'audio_based', 'feature': 'mfcc_bow', 'similarity': 'cosine_similarity'}
                        , 'blf_spectralcontrast': {'kind':'audio_based','feature': 'blf_spectralcontrast', 'similarity': 'cosine_similarity'}
                        , 'ivec256': {'kind':'audio_based','feature': 'ivec256', 'similarity': 'cosine_similarity'}
                        , 'musicnn': {'kind':'audio_based','feature': 'musicnn', 'similarity': 'cosine_similarity'}
                       ,  'random': {'kind':'-','feature': '-', 'similarity': '-'}
                       , 'cos(tf-idf)': {'kind':'text_based','feature': 'lyrics_tf-idf', 'similarity': 'cosine_similarity'}
                       , 'cos(bert)': {'kind':'text_based','feature': 'lyrics_bert', 'similarity': 'cosine_similarity'}
                      , 'euclidean(word2vec)': {'kind':'text_based','feature': 'lyrics_word2vec', 'similarity': 'euclidean_distances'}
                      }

In [6]:
stmt = 'SELECT * FROM {}'.format('retrievalsystems')

with engine.connect() as conn:
    result = conn.execute(stmt) #conn.execute(stmt)
    df_rs = DataFrame(result.fetchall())
    df_rs.columns = result.keys()
    
df_rs

,retrievalsystemId,retrievalsystem,info
0,1,mfcc_bow,"kind: audio_based, feature: mfcc bow, similari..."
1,2,blf_spectralcontrast,"kind: audio_based, feature: blf spectralcontra..."
2,3,ivec256,"kind: audio_based, feature: ivec 256, similari..."
3,4,musicnn,"kind: audio_based, feature: musicnn, similarit..."
4,5,random,random
5,6,cos(tf-idf),"kind: text_based, feature: lyrics tf-idf, simi..."
6,7,cos(bert),"kind: text_based, feature: lyrics bert, simila..."
7,8,euclidean(word2vec),"kind: text_based, feature: lyrics word2vec, si..."

In [7]:
df_rs.loc[(df_rs['retrievalsystem'] == 'mfcc_bow')]['retrievalsystemId'].values[0]

1

In [10]:
rs = 'musicnn'
filename= f"retrieve_songs_{rs}.pkl"
retrievalsystemId = df_rs.loc[(df_rs['retrievalsystem'] == rs)]['retrievalsystemId'].values[0]

with open(filename, 'rb') as fp:
    existing_data = pickle.load(fp)
df = existing_data.drop_duplicates()
df['retrievalsystemId'] = retrievalsystemId.astype('int8')
df['retrievalOrder'] = df['retrievalOrder'].astype('int8')
df = df.drop(columns=['similarity'])
df.dtypes

retrievalOrder      int32
id                 object
similarity        float64
target             object
dtype: object

In [30]:
for rs in recommender_systems:
    filename= f"retrieve_songs_{rs}.pkl"
    retrievalsystemId = df_rs.loc[(df_rs['retrievalsystem'] == rs)]['retrievalsystemId'].values[0]
    print(rs, retrievalsystemId)
    
    with open(filename, 'rb') as fp:
        existing_data = pickle.load(fp)
    df = existing_data.drop_duplicates()
    df['retrievalsystemId'] = retrievalsystemId.astype('int8')
    df['retrievalOrder'] = df['retrievalOrder'].astype('int8') if rs != 'random' else 0
    df = df.drop(columns=['similarity']) if rs != 'random' else df
    df.to_sql(
        name="retrieved_songs", # only lower case.
        con=engine,
        if_exists="append",
        index=False,
        method=psql_insert_copy
    )

mfcc_bow 1
blf_spectralcontrast 2
ivec256 3
musicnn 4
random 5
cos(tf-idf) 6
cos(bert) 7
euclidean(word2vec) 8

In [ ]:
#

# Uploading songs

In [25]:
import re

path_prefix = ".\\dataset3\\"
df_url = pd.read_table(path_prefix+'id_url_mmsr.tsv')
df_url['url_2'] = df_url['url'].apply(lambda x :  re.search("[^\=]*$", x).group(0))
df_url.head(2)

                 id                                          url        url_2
0  NDroPROgWm3jBxjH  https://www.youtube.com/watch?v=gPm2s6JORc4  gPm2s6JORc4
1  y8wp2cUBzIEYsouc  https://www.youtube.com/watch?v=RYzQvj3icjs  RYzQvj3icjs

In [32]:
import ast
from functools import reduce
path_prefix = ".\\dataset2\\"
df_genres = pd.read_table(path_prefix+f"id_genres_mmsr.tsv")
df_genres['genre'] = df_genres['genre'].apply(lambda x : set(ast.literal_eval(x))) # transform string to list and then to set, because later on set comparition will be performed
genres =  reduce(lambda x, y: x.union(y),df_genres['genre'], set()) # all unique genre values
df_genres.head(1)

                 id                   genre
0  01Yfj2T3YTwJ1Yfy  {christian rock, rock}

In [33]:
path_prefix = ".\\dataset1\\"
df_names = pd.read_table(path_prefix+'id_information_mmsr.tsv')
df_names.head(2)

,id,artist,song,album_name
0,01Yfj2T3YTwJ1Yfy,We As Human,Take The Bullets Away (feat. Lacey Sturm),We As Human
1,01gyRHLquwXDlhkO,The Notorious B.I.G.,Somebody's Gotta Die,Life After Death (Remastered Edition)

In [34]:
songs = pd.merge(df_names,df_genres , how='inner', on='id')
songs = songs.rename(columns={'album_name': 'album', 'id':'song_id'})
songs['song'] = songs['song'].apply(lambda x: x[:128])
songs['album'] = songs['album'].apply(lambda x: x[:128])
songs

,song_id,artist,song,album,genre
0,01Yfj2T3YTwJ1Yfy,We As Human,Take The Bullets Away (feat. Lacey Sturm),We As Human,"{christian rock, rock}"
1,01gyRHLquwXDlhkO,The Notorious B.I.G.,Somebody's Gotta Die,Life After Death (Remastered Edition),"{grindcore, death metal, hip hop, rap}"
2,01rMxQv6vhyE1oQX,Against the Current,Chasing Ghosts,In Our Bones,"{pop punk, rock}"
3,02RGE9FNH65RtMS7,Barthezz,Infected,Trance - The Early Years (1997-2002),"{progressive trance, techno, trance}"
4,02ZnlCGZEbkfCDxo,Laura Pausini,Tra Te E Il Mare,The Best of Laura Pausini - E Ritorno Da Te,"{world, pop, latin pop, pop rock, ambient, ita..."
...,...,...,...,...,...
10089,zyzILCQvVeUFIINi,Crowded House,When You Come,Temple Of Low Men,"{pop, indie rock, modern rock, folk rock, pop ..."
10090,zzgS4ZqyswamEWNj,Britney Spears,My Only Wish (This Year),Platinum Christmas,"{singer songwriter, pop, soundtrack, teen pop,..."
10091,zzoFYDMlqU1X2zz1,Thundercat,DUI,Drunk,"{jazz, jazz fusion}"
10092,zzpkRCGA5ud8q4mv,Otis Redding,Rock Me Baby,Otis Blue,"{singer songwriter, southern soul, blues rock,..."
10093,zzx8CWdM7qkxKQpC,Ted Leo and the Pharmacists,Counting Down the Hours,Shake the Sheets,"{alternative rock, punk, singer songwriter, in..."

In [35]:
import sqlalchemy as db 
  
# Create the Metadata Object 
metadata_obj = db.MetaData() 
  
# Define the profile table 
  
# database name 
profile = db.Table( 
    'songs',                                         
    metadata_obj,                                     
    db.Column('song_id', db.String(16), primary_key=True),   
    db.Column('song', db.String(128)),
    db.Column('artist', db.String(128)),
    db.Column('genre', db.ARRAY(db.String(60))),
    db.Column('album', db.String(128)),               
) 

# Create the profile table 
metadata_obj.create_all(engine)

In [36]:
songs.to_sql(
    name="songs", # only lower case.
    con=engine,
    if_exists="append",
    index=False,
    method=psql_insert_copy
)